<style>
</style>

<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h2>
            <img class="rounded img-thumbnail" src="https://robohash.org/@ViewBag.Me.Name" width="50" height="50" />
            @ViewBag.Me.Name
        </h2>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
        </li>
        <li>
            <a style="color:blue;" asp-controller="Home" asp-action="Friends"><i class="fas fa-user-friends"></i> Friends</a>
        </li>
        <li>
            <a style="color:darkgreen;" asp-controller="Home" asp-action="Groups"><i class="fas fa-layer-group"></i> Groups</a>
        </li>
        <li>
            <a style="color:orange;" asp-controller="Home" asp-action="Blogs"><i class="fab fa-blogger"></i> Blogs</a>
        </li>
        <li>
            <a style="color:red;" asp-controller="Home" asp-action="Stores"><i class="fas fa-store"></i> Stores</a>
        </li>
        <li>
            <a style="color:orange;" asp-controller="Home" asp-action="Reviews"><i class="fas fa-comment-dots"></i> Reviews</a>
        </li>
        <hr />
        <li>
            <a asp-controller="Home" asp-action="Edit"><i class="fas fa-edit"></i> Settings</a>
        </li>
    </ul>
</nav>