<style>
    .footer a {
        color:red;
        text-align:center;
    }

</style>

<footer class="footer bg-dark">
    <div>
        <p class="m-0 text-white text-center">Copyright &copy; <a href="https://github.com/cpham19">Calvin Pham</a> 2019</p>
    </div>
</footer>