@{
    ViewData["Title"] = "Friends";
}

<style>
    .fa-trash-alt {
        color: red;
    }

    .card {
        width: 300px;
    }

    @@media only screen and (max-width: 600px) {
        .card {
            width: 500px;
        }
    }
</style>


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Friends</h1>
    </div>
</div>

@if (ViewBag.Friends.Count == 0)
{
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">No friends.</h1>
        </div>
    </div>
}
else
{
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            @foreach (var person in ViewBag.Friends)
            {
                <div class="col-sm-4 d-flex align-items-stretch align-content-stretch portfolio-item">
                    <div class="card">
                        <img src="https://robohash.org/@person.Name" class="card-img-top" />
                        <div class="card-body">
                            <h1 class="text-center">@person.Name</h1>
                            <p class="card-text">@person.ProfileDescription</p>
                            <a class="card-link" asp-controller="User" asp-action="Index" asp-route-id="@person.PersonId"><i class="fas fa-book-reader"></i> View</a>
                            @if (ViewBag.Controller == "Home")
                            {
                                <a class="card-link" style="color:red;" asp-controller="Home" asp-action="RemoveFriend" asp-route-PersonTwoId="@person.PersonId"><i class="fas fa-trash-alt"></i> Remove Friend</a>
                            }
                        </div>
                    </div>
                    <br /><br /><br />
                </div>
            }
        </div>
        <hr>
    </div> <!-- /container -->
}