<style>
  .btn-group a {
        padding: 20px;
        width: 200px;
    }

    @@media (max-width: 768px) {
        .btn-group a {
            padding: 20px;
            width: 100%;
        }
    }
</style>

<div class="btn-group">
    <a asp-controller="Marketplace" asp-action="Cart" class="btn btn-info">View Cart</a>
    <a asp-controller="Marketplace" asp-action="SalesHistory" class="btn btn-dark">View Sales History</a>
    <a asp-controller="Marketplace" asp-action="OrderHistory" class="btn btn-secondary">View Order History</a>
</div>