@{
    ViewData["Title"] = "Login Page";
}
<style>
    .btn-primary {
        background-color: green;
        color: white;
    }

    .red {
        color: red;
        font-size: 24px;
    }

    @@media only screen and (max-width: 600px) {
        img {
            width: 350px;
            height: 350px;
        }
    }
</style>

<div class="container">
    <p class="text-center">
        <img src="~/img/login.png" class="img-responsive" />
    </p>
    <br />
    <form method="post">
        <input type="text" name="username" class="form-control" placeholder="Username" required /> <br />
        <input type="password" name="password" class="form-control" placeholder="Password" required /><br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <a class="red" asp-controller="Account" asp-action="Register">Register</a>
    </form>
</div>
