@{
    ViewData["Title"] = "Login Page";
}
<style>
    .text-center {
        width:100%;
        padding: 12px 300px;
    }
</style>

<form method="post" class="text-center">
    <h1 class="display-4">Login</h1>
    <input type="text" name="username" class="form-control" placeholder="Username" required/> <br />
    <input type="password" name="password" class="form-control" placeholder="Password" required/><br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button> <a href="Register">Register</a>
</form>
