@{
    ViewData["Title"] = "Register Page";
}

@model Person

<style>
    .btn-primary {
        background-color: green;
        color: white;
    }

    .card {
        height: 450px;
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 5em;
        width: 400px;
        background-color: rgba(0,0,0,0.7) !important;
    }

    .card-header h3 {
        color: white;
    }

    .input-group-prepend span {
        width: 90px;
        background-color: #FFC312;
        color: black;
        border: 0 !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .links {
        color: white;
    }

    .links a {
        margin-left: 4px;
     }

    .box {
        width: 100%;
        height: 105vh;
        padding: 40px;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
        font-family: 'Motiva Sans', Sans-serif;
        font-weight: 300;
        background-image: url(/img/background.jpg);
     }

     @@media (max-width: 768px) {
         .card {
             height:450px;
         }

         footer {
            display:block;
         }
     }
</style>

<div class="box">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Register</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input type="text" name="Name" class="form-control" placeholder="Name" required />
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Username</span>
                        </div>
                        <input type="text" name="Username" class="form-control" placeholder="Username" required />
                    </div>
                    <span asp-validation-for="Username" class="text-danger"></span>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                        </div>
                        <input type="password" name="Password" class="form-control" placeholder="Password" required />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Already have an account?
                    <a style="color:gold" asp-controller="Account" asp-action="Login">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
