@{
    ViewData["Title"] = "Register Page";
}

@model Person

<style>
    .text-center {
        width: 100%;
        padding: 12px 300px;
    }
</style>

<form method="post" class="text-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h1 class="display-4">Register</h1>
    <input type="text" name="Name" class="form-control" placeholder="Name" required /> <br />
    <span asp-validation-for="Name" class="text-danger"></span>
    <input type="text" name="Username" class="form-control" placeholder="Username" required /> <br />
    <span asp-validation-for="Username" class="text-danger"></span>
    <input type="password" name="Password" class="form-control" placeholder="Password" required /><br />
    <span asp-validation-for="Password" class="text-danger"></span>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button><a asp-controller="Account" asp-action="Login">Login</a>
</form>
