@{
    ViewData["Title"] = "Register Page";
}

<style>
    .text-center {
        width: 100%;
        padding: 12px 300px;
    }
</style>

<form method="post" class="text-center">
    <h1 class="display-4">Register</h1>
    <input type="text" name="Name" class="form-control" placeholder="Name" required/> <br />
    <input type="text" name="Username" class="form-control" placeholder="Username" required/> <br />
    <input type="password" name="Password" class="form-control" placeholder="Password" required/><br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button><a href="Login">Login</a>
</form>
