@{
    ViewData["Title"] = "Register Page";
}

@model Person

<style>
    .btn-primary {
        background-color: green;
        color: white;
    }

    .red {
        color: red;
        font-size: 24px;
    }

    @@media only screen and (max-width: 600px) {
        img {
            width: 350px;
            height: 350px;
        }
    }
</style>

<div class="container">
    <p class="text-center">
        <img src="~/img/register.png" class="img-responsive" />
    </p>
    <br />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="text" name="Name" class="form-control" placeholder="Name" required /> <br />
        <span asp-validation-for="Name" class="text-danger"></span>
        <input type="text" name="Username" class="form-control" placeholder="Username" required /> <br />
        <span asp-validation-for="Username" class="text-danger"></span>
        <input type="password" name="Password" class="form-control" placeholder="Password" required /><br />
        <span asp-validation-for="Password" class="text-danger"></span>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button><a class="red" asp-controller="Account" asp-action="Login">Login</a>
    </form>
</div>