@{
    ViewData["Title"] = "Edit Wall Post";
}
@model WallPost

<h1>Editting Wall Post #@Model.WallPostId</h1>
<form method="post" asp-route-WallPostId="@Model.WallPostId">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Description</span>
        </div>
        <textarea class="form-control" name="Description" class="form-control" placeholder="Description" required>@Model.Description</textarea>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
</form>
