@{
    ViewData["Title"] = "Edit Wall Post";
}

@model WallPost

<style>
    .fa-edit {
        color: green;
        font-size: 3em;
    }
</style>

<h1>Editting Wall Post #@Model.WallPostId</h1>

<form method="post" asp-route-WallPostId="@Model.WallPostId">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Description</span>
        </div>
        <textarea class="form-control" name="Description" placeholder="Description" required>@Model.Description</textarea>
        <button style="width:100px" type="submit"><i class="fas fa-edit"></i></button>
    </div>
    <span asp-validation-for="Description" class="text-danger"></span>
</form>
