@{
    ViewData["Title"] = "Edit Profile Page";
    var person = (Person)ViewData["Person"];
}
@model Person
@using Fakebook.Models;

<style>
    .input-group-prepend span {
        width: 120px;
        color: black;
        border: 0 !important;
    }
</style>

<div id="content">
    <h1 class="text-light">Editting Profile Page for @person.Name</h1>

    <form method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Profile Description</span>
            </div>
            <textarea class="form-control" type="text" name="ProfileDescription"  placeholder="Profile Description" required>@person.ProfileDescription</textarea>
            <button style="width:100px" type="submit"><i class="fas fa-edit"></i></button>
        </div>
    </form>
</div>
