@{
    ViewData["Title"] = "Friends";
}

<style>
    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .flip-card {
        border: 1px solid white;
        width: 400px;
        height: 300px;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background: rgba(71, 71, 71, 0.5);
        color: white;
    }

    /* Style the back side */
    .flip-card-back {
        background: rgba(71, 71, 71, 0.3);
        transform: rotateY(180deg);
    }

        .flip-card-back p {
            padding-top: 25%;
        }

    .btn-group {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        .btn-group a {
            padding: 10px;
            padding-top: 50px;
            font-size: 24px;
        }

    .mb-5 {
        padding-top: 10px;
    }

    @@media (max-width: 768px) {
        .card {
            width: 500px;
        }
    }
</style>



<div id="content">
    <div class="jumbotron">
        <div class="container-fluid">
            <h1 class="display-3">Friends</h1>
        </div>
    </div>

    @if (ViewBag.Friends.Count == 0)
    {
        <div class="jumbotron">
            <div class="container-fluid">
                <h1 class="display-5">No friends.</h1>
            </div>
        </div>
    }
    else
    {
        <!-- Example row of columns -->
        <div class="row mx-auto">
            @foreach (var person in ViewBag.Friends)
            {
                <div class="col-sm-4 mb-5">
                    <div class="flip-card">
                        <a asp-controller="User" asp-action="Index" asp-route-id="@person.PersonId">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="https://robohash.org/@person.Name" width="300" height="200" />
                                    <h1>@person.Name</h1>
                                </div>
                                <div class="flip-card-back">
                                    <p class="text-light">@person.ModifiedProfileDescription()</p>
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
            @if (ViewBag.Friends.Count % 3 != 0)
            {
                <div class="col mb-4"></div>
            }
        </div>
        <hr>
    }
</div>