
@{
    ViewData["Title"] = "Groups";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Their Groups</h1>
    </div>
</div>

@if (ViewBag.Groups.Count == 0)
{
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">They have no reviews.</h1>
        </div>
    </div>
}
else
{
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            @foreach (var group in ViewBag.Groups)
            {
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card">
                        <img src="@group.GroupPictureUrl" class="card-img-top" width="200px" height="200px" />
                        <hr />
                        <div class="card-body">
                            <h4 class="text-center card-title">@group.GroupName</h4>
                            <p class="card-text">@group.Description</p>
                            <a class="card-link" asp-controller="Group" asp-action="ViewGroup" asp-route-GroupId="@group.GroupId"><i class="fas fa-book-reader"></i> View</a>
                        </div>
                    </div>
                    <br />
                </div>
            }
        </div>
        <hr>
    </div> <!-- /container -->
}
