@{
    ViewData["Title"] = "Search Page";
}

<style>
    .card {
        border: 1px solid;
        background-color: #f5f5dc;
    }

    .fa-search {
        width:50px;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Search for people</h1>
    </div>
</div>

<form method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Search People</span>
        </div>
        <input type="text" name="name" class="form-control" placeholder="Name of Person" required />
        <button type="submit"><i class="fas fa-search"></i></button>
    </div>
</form>
