@{
    ViewData["Title"] = "Search Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Search for people</h1>
    </div>
</div>

<form method="post">
    <input type="text" name="name" class="form-control" placeholder="Name of Person" required /> <button class="btn btn-primary" type="submit">Find</button>
</form>
<br />
