@{
    ViewData["Title"] = "Search Page";
}

<style>
    .fa-search {
        width:50px;
    }
</style>


<div id="content" style="background-color:azure;">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Search for people</h1>
        </div>
    </div>

    <form asp-controller="Search" asp-action="RedirectToSearch">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Search People</span>
            </div>
            <input type="text" name="name" class="form-control" placeholder="Name of Person" required />
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
</div>