@{
    ViewData["Title"] = "Search Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Search for people</h1>
    </div>
</div>

<form method="post" asp-controller="Search" asp-action="Index">
    <input type="text" name="name" class="form-control" placeholder="Name of Person" value="@ViewBag.name" required/> <button class="btn btn-primary" type="submit">Find</button>
</form>
<br />

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        @foreach (var person in ViewBag.Persons)
        {
        <div class="card" style="width: 18rem;">
            <img src="https://robohash.org/@person.Name" class="card-img-top" />
            <h1 class="text-center">@person.Name</h1>
            <p class="card-text">@person.ProfileDescription</p>
            <a class="btn btn-primary" asp-controller="User" asp-action="Index" asp-route-name="@person.Name">View</a>
        </div>
        }
    </div>
    <hr>
</div> <!-- /container -->