@{
    ViewData["Title"] = "AddForum";
}

<h1>Add New Forum</h1>

<a asp-controller="Forum" asp-action="Index">Back</a>
<form method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Forum Name</span>
        </div>
        <input class="form-control" type="text" name="ForumName" placeholder="Forum Name" required>
    </div>
    <br/>
    <button>Add</button>
</form>