@{
    ViewData["Title"] = "AddTopic";
}

<h1>Add New Topic</h1>
<form method="post">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Topic Name</span>
    </div>
    <input class="form-control" type="text" name="TopicName" placeholder="Topic Name" required><br>

    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Topic Content</span>
    </div>
    <input class="form-control" type="text" name="TopicContent" placeholder="Topic Content" required><br>
    <button>Add</button>
</form>