@{
    ViewData["Title"] = "AddTopic";
}

<h1>Add New Topic</h1>
<a asp-controller="Forum" asp-action="ViewForum" asp-route-id="@ViewBag.id">Back</a>
<form method="post">
    Topic Name: <input type="text" name="TopicName" required><br>
    Topic Content: <input type="text" name="TopicContent" required><br>
    <button>Add</button>
</form>