@{
    ViewData["Title"] = "Edit Reply";
}
@model Reply

<style>
    .input-group-prepend span {
        width: 120px;
        color: black;
        border: 0 !important;
    }
</style>

<div id="content">
    <h1 class="text-light">Editting Reply #@Model.ReplyId</h1>
    <form method="post" asp-route-ForumName="@ViewBag.ForumName" asp-route-TopicId="@Model.TopicId" asp-route-TopicName="@ViewBag.TopicName">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Reply Content</span>
            </div>
            <textarea class="form-control" type="text" name="ReplyContent" placeholder="Reply Content" required>@Model.ReplyContent</textarea>
            <button style="width:100px" type="submit"><i class="fas fa-edit"></i></button>
        </div>

        <span asp-validation-for="ReplyContent" class="text-danger"></span>
    </form>
</div>
