@{
    ViewData["Title"] = "Forum Page";
}

@model List<Forum>

<h1>Forums</h1>

<style>
    .table-light {
        border: solid 5px;
    }
</style>

<a asp-controller="Forum" asp-action="AddForum">Add New Forum</a>
<table class="table table-striped table-light">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Forum Name</th>
            <th scope="col">Topics</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forum in Model)
        {
            <tr scope="row">
                <td><a asp-controller="Forum" asp-action="ViewForum" asp-route-ForumName="@forum.ModifiedForumName()">@forum.ForumName</a></td>
                <td>@forum.Topics.Count</td>
            </tr>
        }
    </tbody>
</table>
