@{
    ViewData["Title"] = "Forum Page";
}

@model List<Forum>

<h1>Forums</h1>

<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid orange;
        padding: 10px;
        text-align: left;
    }
</style>

<a asp-controller="Forum" asp-action="AddForum">Add New Forum</a>
<table class="table">
    <thead>
        <tr>
            <th>Forum Name</th>
            <th>Number of Topics</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forum in Model)
        {
            <tr>
                <td><a asp-controller="Forum" asp-action="ViewForum" asp-route-ForumName="@forum.ModifiedForumName()">@forum.ForumName</a></td>
                <td>@forum.Topics.Count</td>
            </tr>
        }
    </tbody>
</table>
