@{
    ViewData["Title"] = "Forum";
}
@model Forum

<h1>@Model.ForumName</h1>

<a href="@Model.ForumId/AddTopic">Add New Topic</a><br/>
<a asp-controller="Forum" asp-action="Index">Back</a>
<table class="table">
    <thead>
        <tr>
            <th>Topic Name</th>
            <th>Poster ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var topic in Model.Topics)
        {
            <tr>
                <td><a asp-controller="Forum" asp-action="ViewTopic" asp-route-id=@Model.ForumId asp-route-id2=@topic.TopicId>@topic.TopicName</a></td>
                <td>@topic.PosterId</td>
            </tr>
        }
    </tbody>
</table>