
@{
    ViewData["Title"] = "Groups";
}

<h1>Groups</h1>

<a asp-controller="Home" asp-action="Index">Back</a>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        @foreach (var group in ViewBag.Groups)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="@group.GroupPictureUrl" class="card-img-top" width="200px" height="200px" />
                    <h1 class="text-center">@group.GroupName</h1>
                    <p class="card-text">@group.Description</p>
                    <a class="card-link">Leave</a>
                </div>
            </div>
        }
    </div>
    <hr>
</div> <!-- /container -->
