@{
    ViewData["Title"] = "Edit Blog Comment";
}
@model BlogComment

<style>
    .input-group-prepend span {
        width: 120px;
        color: black;
        border: 0 !important;
    }
</style>

<div id="content">
    <h1 class="text-light">Edit Blog</h1>

    <form method="post" asp-controller="Blog" asp-action="EditBlogComment">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Descripton</span>
            </div>
            <textarea class="form-control" type="text" name="Description" placeholder="Description" required>@Model.Description</textarea>
        </div>

        <span asp-validation-for="Description" class="text-danger"></span>

        <input type="text" name="BlogId" placeholder="BlogId" value="@Model.BlogId" hidden required />
        <input type="text" name="BlogCommentId" placeholder="BlogCommentId" value="@Model.BlogCommentId" hidden required />

        <br />
        <button type="submit">Edit</button>
    </form>
</div>
