
@{
    ViewData["Title"] = "Marketplace";
}

<style>
    .btn-group a {
        padding: 20px;
        width: 200px;
    }

    @@media (max-width: 768px) {
        .btn-group a {
            padding: 20px;
            width: 100%;
        }
    }
</style>

<div id="content">
    <div class="jumbotron">
        <div class="container-fluid">
            <h1 class="display-3 text-light">Marketplace</h1>
        </div>
    </div>

    @if (!ViewBag.HasStore)
    {
        <a style="color:beige;" asp-controller="Marketplace" asp-action="AddStore"><i class="fas fa-store-alt"></i> Add Store</a>
        <br /><br />
    }
    <div class="btn-group">
        <a asp-controller="Marketplace" asp-action="Cart" class="btn btn-info">View Cart</a>
        <a asp-controller="Marketplace" asp-action="SalesHistory" class="btn btn-dark">View Sales History</a>
        <a asp-controller="Marketplace" asp-action="OrderHistory" class="btn btn-secondary">View Order History</a>
    </div>
    <br />
    <br />
    <br />
    <!-- Page Content -->
    <div class="container-fluid">
        <!-- Marketing Icons Section -->
        <div class="row">
            @foreach (var store in ViewBag.Stores)
            {
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card">
                        <a asp-controller="Marketplace" asp-action="Store" asp-route-StoreId="@store.StoreId">
                            <img class="card-img-top" src="@store.StoreImageUrl" width="740px" height="300px" alt="">
                            <hr />
                            <div class="card-body">
                                <h4 class="card-title">@store.StoreName</h4>
                                <p class="card-text">@store.StoreDescription</p>
                            </div>
                        </a>
                    </div>
                    <br />
                </div>
            }
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>